.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.theme {
  background-color: #A27C5B;
}

.nav-link {
  color: grey !important;
}

.nav-link.active {
  color: #A27C5B !important;
}

.btn-light {
  color: #A27C5B !important;
}
.btn-dark {
  background-color: #A27C5B !important;
}

.card {
  position: absolute;
  width: 80%;
  background-color: whitesmoke;
}

.card:hover {
  transform: scale(1.05);
}

a{
  color: #A27C5B !important;
}


